# Node modules & debug logs
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Dependency directories
jspm_packages

# Build output
dist
build

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode
.idea

# Git
.git
.gitignore
.dockerignore
